<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h2>訂單完成</h2>
    <%= order.amount %>
    <br>
    <% order.packages.forEach((item) => { %>
      品項：<%= item.id %>
      、單價：<%= item.amount %>
    <% }) %>

  </body>
</html>
